===== BACKEND =====
# Arquivos do intellij
api/HELP.md
api/target/
api/.mvn/wrapper/maven-wrapper.jar
api/.idea
api/*.iws
api/*.iml
api/*.ipr
api/*.yml
api/application-dev.properties

===== FRONTEND =====
# Arquivos e pastas do Visual Studio
# Compiled output
app/dist
app/tmp
app/out-tsc
app/bazel-out

# Node
app/node_modules
appn/pm-debug.log
app/yarn-error.log

# IDEs and editors
app/.idea/
app/.project
app/.classpath
app/.c9/
app/*.launch
app/.settings/
app/*.sublime-workspace

# Visual Studio Code
app/.vscode/*
app/!.vscode/settings.json
app/!.vscode/tasks.json
app/!.vscode/launch.json
app/!.vscode/extensions.json
app/!.vscode/mcp.json
app/.history/*

# Miscellaneous
app/.angular/cache
app/.sass-cache/
app/connect.lock
app/coverage
app/libpeerconnection.log
testem.log
app/typings
__screenshots__/

# System files
app/.DS_Store
app/Thumbs.db

