<div class="flex flex-col h-screen justify-between">
  <div></div>
  <form
    #frmLogin
    (submit)="auth()"
    [formGroup]="formFields"
    class="flex flex-col gap-2 items-center justify-center"
  >
    <img ngSrc="/logo.png" alt="Arthivia Logo" width="151" height="120" priority />
    <span class="text-4xl text-gray-400 font-semibold">Fácil-PDV</span>
    <div>
      <label id="username" class="block text-gray-400 px-2.5">Usuário:</label>
      <input
        type="text"
        id="username"
        name="username"
        formControlName="username"
        placeholder="Insira nome de usuário"
        class="p-1.5 border border-gray-400 rounded-xl w-60 focus:outline-none"
      />
      @if (isInvalidField('username')) {
        <p class="text-red-500 px-3.5">Este campo é obrigatório</p>
      }
    </div>
    <div>
      <label id="password" class="block text-gray-400 px-2.5">Senha:</label>
      <div class="flex justify-between border border-gray-400 rounded-xl p-1.5 w-60">
        <input
          [type]="showPass ? 'text' : 'password'"
          id="password"
          name="password"
          formControlName="password"
          placeholder="Insira senha"
          class="focus:outline-none"
        />
        @if (showPass) {
          <img
            (click)="alterVisiblityPassword()"
            [ngSrc]="showPass ? '/visibility_16dp.svg' : '/visibility_off_16dp.svg'"
            alt="visible password"
            width="24"
            height="24"
            priority
          />
        } @else {
          <img
            (click)="alterVisiblityPassword()"
            ngSrc="/visibility_off_16dp.svg"
            alt="visible password"
            width="24"
            height="24"
            priority
          />
        }
      </div>
      @if (isInvalidField('password')) {
        <p class="text-red-500 px-3.5">Este campo é obrigatório</p>
      }
    </div>
    <button
      type="submit"
      class="bg-green-500 px-4 py-1 text-white font-semibold rounded-xl w-60 hover:bg-green-600 mt-2.5"
    >
      Acessar
    </button>
  </form>
  <span class="text-end text-gray-600 px-2.5"
    >Versão: <span class="font-semibold">1.0.0</span></span
  >
</div>
